<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- SMTP settings -->
    <listener>
        <listener-class>background.BackgroundJob</listener-class>
    </listener>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>email</param-name>
        <param-value>giakinhfullstack@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>giakinh0823</param-value>
    </context-param>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/error</location>
    </error-page>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/profile/*</url-pattern>
        <url-pattern>/calendar/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>background.BackgroundJob</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controller.auth.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomController</servlet-name>
        <servlet-class>controller.home.HomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarController</servlet-name>
        <servlet-class>controller.calendar.CalendarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCalendarController</servlet-name>
        <servlet-class>controller.calendar.AddCalendarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventController</servlet-name>
        <servlet-class>controller.calendar.EventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventController</servlet-name>
        <servlet-class>controller.calendar.UpdateEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEventController</servlet-name>
        <servlet-class>controller.calendar.EditEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventController</servlet-name>
        <servlet-class>controller.calendar.DeleteEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCalendar</servlet-name>
        <servlet-class>controller.calendar.DeleteCalendar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCalendar</servlet-name>
        <servlet-class>controller.calendar.EditCalendar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.user.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvatarController</servlet-name>
        <servlet-class>controller.user.AvatarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminController</servlet-name>
        <servlet-class>controller.admin.auth.LoginAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.admin.dashboard.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManageController</servlet-name>
        <servlet-class>controller.admin.user.UserManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserManageController</servlet-name>
        <servlet-class>controller.admin.user.EditUserManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAvatarUserManage</servlet-name>
        <servlet-class>controller.admin.user.EditAvatarUserManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserManageController</servlet-name>
        <servlet-class>controller.admin.user.DeleteUserManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManageController</servlet-name>
        <servlet-class>controller.admin.category.CategoryManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryManageController</servlet-name>
        <servlet-class>controller.admin.category.EditCategoryManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryManageController</servlet-name>
        <servlet-class>controller.admin.category.CreateCategoryManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryManageController</servlet-name>
        <servlet-class>controller.admin.category.DeleteCategoryManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdminController</servlet-name>
        <servlet-class>controller.admin.auth.LogoutAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarManageController</servlet-name>
        <servlet-class>controller.admin.calendar.CalendarManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCalendarManageController</servlet-name>
        <servlet-class>controller.admin.calendar.EditCalendarManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCalendarManageController</servlet-name>
        <servlet-class>controller.admin.calendar.DeleteCalendarManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventManageController</servlet-name>
        <servlet-class>controller.admin.event.EventManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEventManageController</servlet-name>
        <servlet-class>controller.admin.event.EditEventManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventManageController</servlet-name>
        <servlet-class>controller.admin.event.DeleteEventManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusManageController</servlet-name>
        <servlet-class>controller.admin.status.StatusManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStatusManageController</servlet-name>
        <servlet-class>controller.admin.status.EditStatusManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStatusManageController</servlet-name>
        <servlet-class>controller.admin.status.CreateStatusManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStatusManageController</servlet-name>
        <servlet-class>controller.admin.status.DeleteStatusManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.auth.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassworController</servlet-name>
        <servlet-class>controller.auth.ChangePassworController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>controller.error.ErrorHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomController</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarController</servlet-name>
        <url-pattern>/calendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCalendarController</servlet-name>
        <url-pattern>/calendar/addCalendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventController</servlet-name>
        <url-pattern>/calendar/addEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventController</servlet-name>
        <url-pattern>/calendar/updateEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEventController</servlet-name>
        <url-pattern>/calendar/editEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventController</servlet-name>
        <url-pattern>/calendar/deleteEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCalendar</servlet-name>
        <url-pattern>/calendar/deleteCalendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCalendar</servlet-name>
        <url-pattern>/calendar/editCalendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvatarController</servlet-name>
        <url-pattern>/profile/editAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminController</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManageController</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserManageController</servlet-name>
        <url-pattern>/admin/users/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAvatarUserManage</servlet-name>
        <url-pattern>/admin/users/editAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserManageController</servlet-name>
        <url-pattern>/admin/users/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManageController</servlet-name>
        <url-pattern>/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryManageController</servlet-name>
        <url-pattern>/admin/category/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryManageController</servlet-name>
        <url-pattern>/admin/category/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryManageController</servlet-name>
        <url-pattern>/admin/category/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdminController</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarManageController</servlet-name>
        <url-pattern>/admin/calendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCalendarManageController</servlet-name>
        <url-pattern>/admin/calendar/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCalendarManageController</servlet-name>
        <url-pattern>/admin/calendar/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventManageController</servlet-name>
        <url-pattern>/admin/event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEventManageController</servlet-name>
        <url-pattern>/admin/event/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventManageController</servlet-name>
        <url-pattern>/admin/event/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusManageController</servlet-name>
        <url-pattern>/admin/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStatusManageController</servlet-name>
        <url-pattern>/admin/status/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStatusManageController</servlet-name>
        <url-pattern>/admin/status/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStatusManageController</servlet-name>
        <url-pattern>/admin/status/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/password/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassworController</servlet-name>
        <url-pattern>/password/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
